## Make a copy of this file and name it ".env"

PUBLIC_API_BASE_URL=https://fdnd-agency.directus.app
PUBLIC_PROJECTS_ENDPOINT=https://fdnd-agency.directus.app/items/hull_projects
PUBLIC_THEMES_ENDPOINT=https://fdnd-agency.directus.app/items/hull_themes
PUBLIC_CONTENT_PAGE_ENDPOINT=https://fdnd-agency.directus.app/items/hull_content_page
PUBLIC_PEOPLE_ENDPOINT=https://fdnd-agency.directus.app/items/hull_people

PUBLIC_ASSETS_URL=https://fdnd-agency.directus.app/assets
