* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Tilt Warp */
@font-face {
	font-family: 'Tilt Warp';
	src:
		url('/fonts/TiltWarp.woff2') format('woff2'),
		url('/fonts/TiltWarp.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Pathway Extreme */
@font-face {
	font-family: 'Pathway Extreme';
	src:
		url('/fonts/PathwayExtreme.woff2') format('woff2'),
		url('/fonts/PathwayExtreme.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Urbanist */
@font-face {
	font-family: 'Urbanist';
	src:
		url('/fonts/Urbanist.woff2') format('woff2'),
		url('/fonts/Urbanist.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Spacing variabelen */
html {
	--spacing-xxs: 0.25rem;
	--spacing-xs: 0.5rem;
	--spacing-sm: 1rem;
	--spacing-md: 2rem;
	--spacing-lg: 4rem;
	--spacing-xl: 8rem;
	--spacing-xxl: 16rem;

	/* Primary kleuren */
	--color-primary-l3: hsl(197, 8%, 45%);
	--color-primary-l2: hsl(197, 8%, 35%);
	--color-primary-l1: hsl(197, 8%, 25%);
	--color-primary-base: hsl(197, 8%, 18%);
	--color-primary-d1: hsl(197, 8%, 12%);
	--color-primary-d2: hsl(197, 8%, 8%);
	--color-primary-d3: hsl(197, 8%, 5%);

	/* Neutral 1 kleuren */
	--color-neutral1-l3: hsl(180, 1%, 98%);
	--color-neutral1-l2: hsl(180, 1%, 95%);
	--color-neutral1-l1: hsl(180, 1%, 91%);
	--color-neutral1-base: hsl(180, 1%, 87%);
	--color-neutral1-d1: hsl(180, 1%, 70%);
	--color-neutral1-d2: hsl(180, 1%, 55%);
	--color-neutral1-d3: hsl(180, 1%, 40%);

	/* Neutral 2 kleuren */
	--color-neutral2-l3: hsl(0, 0%, 90%);
	--color-neutral2-l2: hsl(0, 0%, 80%);
	--color-neutral2-l1: hsl(0, 0%, 72%);
	--color-neutral2-base: hsl(0, 0%, 64%);
	--color-neutral2-d1: hsl(0, 0%, 50%);
	--color-neutral2-d2: hsl(0, 0%, 38%);
	--color-neutral2-d3: hsl(0, 0%, 25%);

	/* Accent 1 kleuren */
	--color-accent1-l3: hsl(185, 21%, 85%);
	--color-accent1-l2: hsl(185, 21%, 70%);
	--color-accent1-l1: hsl(185, 21%, 63%);
	--color-accent1-base: hsl(185, 21%, 56%);
	--color-accent1-d1: hsl(185, 21%, 45%);
	--color-accent1-d2: hsl(185, 21%, 35%);
	--color-accent1-d3: hsl(185, 21%, 25%);

	/* Accent 2 kleuren */
	--color-accent2-l3: hsl(76, 43%, 85%);
	--color-accent2-l2: hsl(76, 43%, 70%);
	--color-accent2-l1: hsl(76, 43%, 62%);
	--color-accent2-base: hsl(76, 43%, 55%);
	--color-accent2-d1: hsl(76, 43%, 42%);
	--color-accent2-d2: hsl(76, 43%, 30%);
	--color-accent2-d3: hsl(76, 43%, 18%);

	/* Accent 3 kleuren */
	--color-accent3-l3: hsl(76, 58%, 75%);
	--color-accent3-l2: hsl(76, 58%, 55%);
	--color-accent3-l1: hsl(76, 58%, 40%);
	--color-accent3-base: hsl(76, 58%, 32%);
	--color-accent3-d1: hsl(76, 58%, 25%);
	--color-accent3-d2: hsl(76, 58%, 18%);
	--color-accent3-d3: hsl(76, 58%, 12%);
}

/* Body basis */
body {
	font-family: Urbanist, sans-serif;
	font-size: 1rem;
	line-height: 1.2;
	color: var(--color-primary-base);
	background-color: var(--color-neutral1-l3);
}

/* Voorbeeld gebruik: class="hero", class="title", class="subtitle", class="text" */
/* mobile font-sizes kunnen beter! */
.hero {
	font-family:
		Tilt Warp,
		sans-serif;
	font-size: clamp(3rem, 8vw, 6rem); /* min 48px, schaal met 8vw, max 96px */
}

.title {
	font-family:
		Pathway Extreme,
		sans-serif;
	font-weight: 700;
	font-size: clamp(2.5rem, 6vw, 4rem); /* min 40px, schaal met 6vw, max 64px */
}

.subtitle {
	font-family: Urbanist, sans-serif;
	font-weight: 600;
	font-size: clamp(1.75rem, 5vw, 2.1875rem); /* min 28px, schaal met 5vw, max 35px */
}

.text {
	font-family: Urbanist, sans-serif;
	font-size: clamp(1rem, 1.5vw, 1.125rem); /* min 16px, schaal met 1.5vw, max 18px */
	line-height: 1.6875; /* 27px */
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Buttons */
.button {
	display: flex;
	justify-content: center;
	width: 90%;
	text-align: center;
	text-decoration: none;
	color: var(--color-primary-base);
	font-weight: 700;
	border-radius: 7px;
	padding: var(--spacing-sm);
	margin: var(--spacing-sm);
	background-color: var(--color-accent3-l2);
	position: relative;
	transition: all 0.3 ease-in-out;
}
.button svg {
	position: absolute;
	right: var(--spacing-sm);
}

.button:hover {
	transform: translateY(-2px);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.button:active {
	transform: translateY(0);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	background-color: var(--color-accent3-l3);
}

@media (min-width: 768px) {
	.button {
		width: 200px;
	}
}

